<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <li>buy food</li>
      <li>cook food</li>
      <li>eat food</li>

      <form class="" action="/" method="post">

        <input type="text" name="newItem">
        <button type="submit" name="button">Add</button>

      </form>
    </ul>
  </body>
</html>
